<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ site.title }} - {{ site.tagline }}</title>
    <meta name="author" content="cbrnrd"/>
    <meta name="description" content="{{ site.description }}">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.name }}">

    <link rel="license" href="http://opensource.org/licenses/MIT"/>
    <link rel="stylesheet" type="text/css" href="/css/screen.css"/>

  </head>
  <body>
    <div role="container">
      <header role="banner">

        <hgroup>
          <h1 class="title">{{ site.title }}</h1>
          <h2>{{ site.tagline }}</h2>
        </hgroup>

        <nav role="navigation">
        {% for project in site.data.projects %}
          <a href="#{{ project.name | downcase }}" title="{{ project.name }}">
            <img src="/images/{{ project.name | downcase }}-logo.png" alt="{{ project.name }}" />
          </a>
        {% endfor %}
        </nav>

        <code>$ gem install periodic-cli</code>
      </header>

      <div role="main">
        {{ content }}
      </div>

      <footer role="contentinfo">
        <p>© {{ site.time | date: "%Y" }} <a href="https://github.com/cbrnrd" rel="nofollow">cbrnrd</a></p>

        <p>Released under the <a href="http://opensource.org/licenses/MIT" rel="license">MIT License</a></p>
      </footer>
    </div>

  </body>
</html>
